<% thing = args[1].find { |thing| thing.id == args[0] } %>
<% if thing.nil? %>
    <span>N/A</span>
<% else %>
    <a href="../effect/<%= thing.id %>.html#<%= thing.display_name %>"><%= thing.display_name %></a>
<% end %>
