<% talent = args[1].find { |talent| talent.id == args[0] } %>
<% if talent.nil? %>
    <span>N/A</span>
<% else %>
    <span><a href="../talent/<%= talent.id %>.html#<%= talent.display_name %>"><%= talent.display_name %></a> - <%= talent.display_desc %></span>
<% end %>
